In [65]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [200]:
order_df.columns

Index(['order_type', 'date', 'timestamp', 'id', 'vat', 'manager_id',
       'manager_name', 'manager_location', 'customer_id', 'customer_name',
       'product_id', 'product_name', 'price', 'category', 'manufacturer',
       'quantity', 'discounts'],
      dtype='object')

In [198]:
from main import order_df
order_df

,order_type,date,timestamp,id,vat,manager_id,manager_name,manager_location,customer_id,customer_name,product_id,product_name,price,category,manufacturer,quantity,discounts
0,regular,2021-12-05,2021-12-05T22:11:17.767805,816b08e2-5607-11ec-975c-181dea3bd7cd,0.21,1,Mother Theresa,Vilnius,1,John Locke,1,Iphone 10,1000.0,Phone,Apple,1,0.0
0,regular,2021-12-05,2021-12-05T22:11:17.767805,816b08e2-5607-11ec-975c-181dea3bd7cd,0.21,1,Mother Theresa,Vilnius,1,John Locke,3,Bacon,10.0,Food,Old McDonald's,10,0.1

In [194]:
order.prepare_data_for_export()

TypeError: prepare_data_for_export() missing 1 required positional argument: 'product_column_map'

In [170]:
from pydantic.json import pydantic_encoder
import json
order_dict = json.loads(json.dumps(order, indent=2, default=pydantic_encoder))
order_dict

{'manager': {'id': 1, 'name': 'Mother Theresa', 'location': 'Vilnius'},
 'customer': {'id': 1, 'name': 'John Locke'},
 'order_type': 'regular',
 'items': [{'id': 1,
   'name': 'Iphone 10',
   'price': 1000.0,
   'category': 'Phone',
   'manufacturer': 'Apple'},
  {'id': 3,
   'name': 'Bacon',
   'price': 10.0,
   'category': 'Food',
   'manufacturer': "Old McDonald's"}],
 'quantities': [1, 10],
 'discounts': [0.0, 0.1],
 'date': '2021-12-05',
 'timestamp': '2021-12-05T21:45:37.162431',
 'id': 'eb254f79-5603-11ec-a16f-181dea3bd7cd',
 'vat': 0.21}

In [173]:
row_df = (pd.json_normalize([order_dict], sep='_')
          .drop(['items', 'quantities', 'discounts'], axis=1))
row_df

,order_type,date,timestamp,id,vat,manager_id,manager_name,manager_location,customer_id,customer_name
0,regular,2021-12-05,2021-12-05T21:45:37.162431,eb254f79-5603-11ec-a16f-181dea3bd7cd,0.21,1,Mother Theresa,Vilnius,1,John Locke

In [183]:
from main import entity_data_loader
product_columns = entity_data_loader.table_info_dict['product'].column_mapping.items()
product_columns = {v: k for k, v in product_columns}
product_columns

{'id': 'product_id',
 'name': 'product_name',
 'price': 'price',
 'category': 'category',
 'manufacturer': 'manufacturer'}

In [186]:
item_df = (pd.concat([pd.DataFrame([item.__dict__]) for item in order.items])
           .assign(quantity=order.quantities,
                   discounts=order.discounts)
           .rename(columns=product_columns)
           .drop('__initialised__', axis=1))
item_df

,product_id,product_name,price,category,manufacturer,quantity,discounts
0,1,Iphone 10,1000.0,Phone,Apple,1,0.0
0,3,Bacon,10.0,Food,Old McDonald's,10,0.1

In [188]:
pd.concat([row_df, item_df], axis=1)

,order_type,date,timestamp,id,vat,manager_id,manager_name,manager_location,customer_id,customer_name,product_id,product_name,price,category,manufacturer,quantity,discounts
0,regular,2021-12-05,2021-12-05T21:45:37.162431,eb254f79-5603-11ec-a16f-181dea3bd7cd,0.21,1,Mother Theresa,Vilnius,1,John Locke,1,Iphone 10,1000.0,Phone,Apple,1,0.0
0,regular,2021-12-05,2021-12-05T21:45:37.162431,eb254f79-5603-11ec-a16f-181dea3bd7cd,0.21,1,Mother Theresa,Vilnius,1,John Locke,3,Bacon,10.0,Food,Old McDonald's,10,0.1

In [92]:
from src._constants import DATA_PATH
data_dict = {
    file.split('.csv')[0]: pd.read_csv(os.path.join(DATA_PATH, file), sep=';')
    for file in os.listdir(DATA_PATH)
    }

In [99]:
from src.entities import Customer
Customer.__annotations__

{'manager': src.entities.Manager, 'discount': typing.Optional[float]}

In [67]:
from main import order
order.sum

AttributeError: 'Order' object has no attribute 'sum'

In [40]:
from src.data_loader import filter_latest_rows_in_df
filter_latest_rows_in_df(df, 'id', 'date')

    id        date  amount
1  id1  2021-01-02     200
2  id2  2021-02-02      30

In [31]:
import os
os.getcwd()

'c:\\Users\\Vartotojas\\PycharmProjects\\sandeliapp'

In [30]:
from src.data_loader import filter_latest_rows_in_df
filter_latest_rows_in_df?
# filter_latest_rows_in_df(df, 'id', 'date')

ImportError: cannot import name 'filter_latest_rows_in_df' from 'src.data_loader' (c:\Users\Vartotojas\PycharmProjects\sandeliapp\src\data_loader.py)

In [15]:
from src.data_loader import filter_latest_rows_in_df

ImportError: cannot import name 'filter_latest_rows_in_df' from 'src.data_loader' (c:\Users\Vartotojas\PycharmProjects\sandeliapp\src\data_loader.py)